<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>{{ title }} </title>

<body>
  <div class="container">
    <div class="row">
      <div class=" mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h1 class="text-center mb-5">Sign In</h1>
            <form>
              <div class="form-floating mb-3">
                <input [(ngModel)]="usuario.nome" name="usuario" type="email"  autocomplete="off" class="form-control" id="usuario" placeholder="name@example.com">
                <label class="p-1" for="usuario">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input [(ngModel)]="usuario.senha" name="senha" type="password" autocomplete="off" class="form-control" id="senha" placeholder="Password">
                <label class="p-1" for="senha">Password</label>
              </div>
              <div class="form-check mb-3">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" (click)="fazerLogin()">Sign in</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
