body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  margin-top: 30px;
}

.urna{
  background-color: #dad0d0;
  padding: 30px;
  display: flex;
  border: 1px solid black;
}

.tela{
  width: 500px;
  height: 320px;
  background: linear-gradient(to right, #E8E8E8, #C1C1C1);
  border: 2px solid #555;
  display: flex;
  flex-direction: column;
}

.teclado{
  background-color: #8f8f8f;
  margin-left: 30px;
  border: 1px solid black;

}

.teclado--linha{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.teclado--botao{
  width: 70px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 0px #666;
  border-radius: 10px;

}

.branco{
  background-color:white;
  color: black;
  font-size: 13px;
  font-weight: bold;
}

.corrige{
  background-color:#f09046;
  color: black;
  font-size: 13px;
  font-weight: bold;
}

.confirma{
  background-color:#48c079;
  color: black;
  font-size: 15px;
  width:100px;
  height:50px;
  font-weight: bold;
}

.d1{
  flex: 1;
  display: flex;
}

.d1-left{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.d1-1{
  height: 50px;
  display: flex;
  align-items:center;

}

.d1-2{
  height: 50px;
  display: flex;
  align-items:center;
  justify-content: center;
}

.d1-3{
  height: 50px;
  display: flex;
  align-items:center;
}

.numeros{
  display: inline-block;
  width: 30px;
  height: 40px;
  border: 1px solid black;
  text-align: center;
  line-height: 40px;
  font-size:25px;
}

.pisca{
  animation-name: pisca;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.d1-4{
  flex:1;
  line-height: 30px;
}

.d1-right{
  width:90px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.d1-image{
  border: 1px solid black;
  background-color: white;
  text-align: center;
  font-size: 14px;
}

.d1-image img{
  width: 100%;
}

.d2{
  height: 50px;
  font-size: 14px;
  border-top: 2px solid black;
  padding-left: 10px;

}

.d1-6{
  font-size: 50px;
  height: 40em;
  display: flex;
  align-items: center;
  justify-content: center
}

#tituloEleitor{
  font-size: 15px;
  width: 100%;
  border-style: none;
  border-radius: 3px;
}


@keyframes pisca{
  0% {opacity: 0.2;}
  50% {opacity: 1;}
  100% {opacity: 0.2;}
}
