<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title }}</title>

  <link rel="stylesheet" href="./autenticacao.component.scss">

</head>

<body>
  <form class="urna">
    <div class="tela" >
      <div class="telaInterna">
        <div class="d1" >
          <div class="d1-left">
            <br><br>
            <div class="d1-1"><span>INSIRA SEU TITULO:</span></div>
            <div class="d1-3">
              <div class="">
                <br>
                <input class="form-field__input" type="text" name="nmNumTitulo" id="tituloEleitor" value="{{numVotacao}}" maxlength="12" disabled>
              </div>
              <div class="numero"></div>
            </div>
          </div>
        </div>
        <br><br><br><br><br><br><br>
        <div class="d2">
          Aperte a tecla:<br />
          CONFIRMA para acessar a urna<br />
          CORRIGE para corrigir
        </div>
      </div>
    </div>
    <div class="teclado">
      <div class="teclado--linha">
        <div class="teclado--botao" (click) = "clicou('1')">1</div>
        <div class="teclado--botao" (click) = "clicou('2')">2</div>
        <div class="teclado--botao" (click) = "clicou('3')">3</div>
      </div>
      <div class="teclado--linha">
        <div class="teclado--botao" (click) = "clicou('4')">4</div>
        <div class="teclado--botao" (click) = "clicou('5')">5</div>
        <div class="teclado--botao" (click) = "clicou('6')">6</div>
      </div>
      <div class="teclado--linha">
        <div class="teclado--botao" (click) = "clicou('7')">7</div>
        <div class="teclado--botao" (click) = "clicou('8')">8</div>
        <div class="teclado--botao" (click) = "clicou('9')">9</div>
      </div>
      <div class="teclado--linha">
        <div class="teclado--botao" (click) = "clicou('0')">0</div>
      </div>
      <div class="teclado--linha">
        <div class="teclado--botao branco" disabled>BRANCO</div>
        <div class="teclado--botao corrige" type="reset" (click) = "corrige()">CORRIGE</div>
        <div class="teclado--botao confirma" (click)="btnAcessUrna()">CONFIRMA</div>
      </div>
    </div>
  </form>
</body>

</html>
