<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title }}</title>

  <link rel="stylesheet" href="./tela-component.component.scss">

</head>

<body>
  <form class="urna">
    <div class="tela" >
      <div class="telaInterna" [style.display]="isVisibleTela ? 'block' : 'none'">
        <div class="d1" >
          <div class="d1-left">
            <div class="d1-1"><span>SEU VOTO PARA</span></div>
            <div class="d1-2"><span>PRESIDENTE</span></div>
            <div class="d1-3" [style.display]="isVisible ? 'block' : 'none'">
              <div class="">
                <input type="text" value="{{numVotacao}}" id="numeroVoto" maxlength="2" disabled>
              </div>
              <div class="numero"></div>
            </div>
            <div class="d1-4 numero pisca">
              {{resposta.retornoNumeroCand}}<br>
              {{resposta.retornoNome}}<br>
              {{resposta.retornoNomePartido}}
            </div>
            <div class="d1-5 numero pisca">
              <p>{{resposta.retornoBranco}}</p>
            </div>
          </div>
          <div class="d1-right">
            <div class="d1-image">
              <img src={{resposta.retornoFoto}} />
            </div>
          </div>
        </div>
        <div class="d2">
          Aperte a tecla:<br />
          CONFIRMA para confirmar seu voto<br />
          CORRIGE para reiniciar o voto
        </div>
      </div>
      <div class="d1-6 numero pisca">
        <p>{{resposta.retornoFim}}</p>
      </div>
    </div>
    <div class="teclado">
      <div class="teclado--linha">
        <div class="teclado--botao" (click) = "clicou('1')">1</div>
        <div class="teclado--botao" (click) = "clicou('2')">2</div>
        <div class="teclado--botao" (click) = "clicou('3')">3</div>
      </div>
      <div class="teclado--linha">
        <div class="teclado--botao" (click) = "clicou('4')">4</div>
        <div class="teclado--botao" (click) = "clicou('5')">5</div>
        <div class="teclado--botao" (click) = "clicou('6')">6</div>
      </div>
      <div class="teclado--linha">
        <div class="teclado--botao" (click) = "clicou('7')">7</div>
        <div class="teclado--botao" (click) = "clicou('8')">8</div>
        <div class="teclado--botao" (click) = "clicou('9')">9</div>
      </div>
      <div class="teclado--linha">
        <div class="teclado--botao" (click) = "clicou('0')">0</div>
      </div>
      <div class="teclado--linha">
        <div class="teclado--botao branco" (click) = "branco()">BRANCO</div>
        <div class="teclado--botao corrige" type="reset" (click) = "corrige()">CORRIGE</div>
        <div class="teclado--botao confirma" (click) = "confirma()">CONFIRMA</div>
      </div>
    </div>
  </form>
</body>

</html>
