<!-- Bootstrap CSS -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
  crossorigin="anonymous"
/>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<title>{{ title }}</title>

<body class="">
  <div class="paginaResultado">
    <div class="bg-danger p-4 text-uppercase text-center my-5 text-dark">
      <strong
        ><h1><strong>ELEIÇÕES PRESIDENCIAIS </strong></h1></strong
      >
    </div>
    <h3 class="text-center p-5 fst-italic text-uppercase my-3">
      <strong>APURAÇÃO</strong>
    </h3>

    <div *ngFor="let result of resultados" class="container container-fixed">
      <div
        *ngIf="result.nome !== 'Votos Brancos' && result.nome !== 'Votos Nulos'"
      >
        <div class="row">
          <div class="col-sm-1">
            <img
              class="rounded-circle m-2"
              style="max-width: 110%"
              src="{{ result.foto }}"
            />
          </div>
          <h3 class="col-8" id="nomeCandidatoPresidente">
            {{ result.nome }}
            <h5 class="text-black-50" id="nomePartidoPresidente">
              {{ result.partido }}
            </h5>
          </h3>
          <div class="text-center col-2" id="porcentagemPresidente">
            <h3>
              <strong>{{ result.percenVotos }}% </strong>
            </h3>
            <div id="numeroVotosPresidente">
              <small class="text-black-50"
                >{{ result.votos }}
                {{ result.votos == 1 ? "voto" : "votos" }}</small
              >
            </div>
          </div>
        </div>

        <div class="row">
          <small class="col-md-1"></small>
          <progress
            class="col-md-9 align-center"
            value="{{ result.percenVotos }}"
            max="100"
          ></progress
          ><br /><br />
        </div>
      </div>
    </div>

    <hr />

    <div *ngFor="let result of resultados" class="container container-fixed" class="row justify-content-center">
      <div
        *ngIf="result.nome === 'Votos Brancos' || result.nome === 'Votos Nulos'" class="col-5">
        <div class="row">
          <div class="col-sm-1">
            <img
              class="rounded-circle m-2"
              style="max-width: 110%"
              src="{{ result.foto }}"
            />
          </div>
          <h3 class="col-8" id="nomeCandidatoPresidente">
            {{ result.nome }}
            <h5 class="text-black-50" id="nomePartidoPresidente">
              {{ result.partido }}
            </h5>
          </h3>
          <div class="text-center col-2" id="porcentagemPresidente">
            <h3>
              <strong>{{ result.percenVotos }}% </strong>
            </h3>
            <div id="numeroVotosPresidente">
              <small class="text-black-50"
                >{{ result.votos }}
                {{ result.votos == 1 ? "voto" : "votos" }}</small
              >
            </div>
          </div>
        </div>

        <div class="row">
          <small class="col-md-1"></small>
          <progress
            class="col-md-9 align-center"
            value="{{ result.percenVotos }}"
            max="100"
          ></progress>
        </div>
      </div><br />
    </div>
  </div>
</body>
